body{
    background-color: aqua;
    margin: 0;
    padding: 0;
}
main{
    position: static;
    height: 100vh;
}
.border{
    position: absolute;
    width: 460px;
    height: 240px;
    background: #754343;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.border::before{
    content: "";
    position: absolute;
    left:-150px;
    width: 310px;
    height: 310px;
    background: #754343;
    border-radius: 50%;
}
.border::after{
    content: "";
    right:-150px;
    position: absolute;
    width: 310px;
    height: 310px;
    background: #754343;
    border-radius: 50%;
    border: 1px solid black;
}
.shape{
    position: absolute;
    width: 450px;
    height: 240px;
    background: #FDCC51;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.shape::before{
    content: "";
    position: absolute;
    left:-150px;
    width: 300px;
    height: 300px;
    background: #FDCC51;
    border-radius: 50%;
}
.shape::after{
    content: "";
    right:-150px;
    position: absolute;
    width: 300px;
    height: 300px;
    background: #FDCC51;
    border-radius: 50%;
}
.kbd{
    position: absolute;
    width: 600px;
    height: 200px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.kbd .left{
    display: inline-block;
}
.kbd .left .wasd{
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    font:  16px bold;
    color: white;
    background-color: #755C58;
    margin:0;
    box-shadow: 0px 0px 3px 1px rgba(242,234,242,1);
}
.kbd .left .wasd:first-child{
    display: block;
    margin: 0 0 5px 53px;
}
.kbd .left .wasd img{
    display: block;
    margin: 5px 0 0 5px;
}
.kbd .right{
    display: inline-block;
    margin-left: 250px;
}
.kbd .right .ab{
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font:  16px bold;
    color: white;
    background-color: #4CA936;
    box-shadow: 0px 0px 3px 1px rgba(242,234,242,1);
}
.kbd .right .baba{
    display: block;
    margin-left: 85px;
}
.kbd .right .abab{
    display: inline-block;
    margin-left: 40px;
}
.kbd .right .ab img{
    display: block;
    margin: 5px 0 0 5px;
}
